html{
    box-sizing: border-box;
    font-size: 16px;
}
body,h1,h2,h3,h4,h5,h6,p,ol,ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;  
     /* for smooth font */
}
ol,ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    background-color: #121212;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}
.container{
    margin: 0 auto;
    width: 1200px;
    max-width: 90%;
    border:#fff;
}

.cardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh-140px);
}